[Unit]
Description=alidns-java-client server daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/aliddns/java -jar /usr/local/aliddns/aliddns.jar '/etc/aliddns/aliddns.conf'
Restart=1
KillMode=process
RestartSec=1s
StandardOutput=syslog

[Install]
WantedBy=multi-user.target